body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}

.loader{
    font-size: 36px;
    text-align: center;
}

.changeBG {
    background-color: aqua;
}

 #spinner {
      position: fixed;
      inset: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
    }

    /* Сам спинер */
    .loader {
      width: 40px;
      height: 40px;
      border: 4px solid #ddd;
      border-top: 4px solid #3498db;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
    }

    .li{
        background-color: aquamarine;
    }